<div layout-gt-md="row">
  <panel-widget flex title="New Articles Added by Day" template="/adminpanel/src/app/views/partials/newArticles.html" options="true"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Current User Count" template="/adminpanel/src/app/views/partials/userCount.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="/adminpanel/src/app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="/adminpanel/src/app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="TODO list" template="/adminpanel/src/app/views/partials/checkboxes.html"></panel-widget>

  <panel-widget flex title="Site visitors" template="/adminpanel/src/app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="/adminpanel/src/app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="/adminpanel/src/app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>
