//#sidebar {
//  &.hidden {
//    width: 50px;
//  }
//}

#sidebar {
  background: #eee;
  width: 170px;
  transition: all ease 0.5s;

  #logo {
    padding: 10px;
    img {
      width: 100%;
    }
  }

  .toggle {
    width: 20px;
    height: 50px;
    background: $green;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px 0 0 5px;
    cursor: pointer;

    .sidebar.icon {
      color: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 2px;
      height: 19px;
    }
  }

  &.hidden {
    width: 50px;

    .item {
      text-align: center;
      img {
        float: none;
      }
    }
  }

  //#toggle-wrap {
  //  background: #fff;
  //  width: 100%;
  //  cursor: pointer;
  //  height: 50px;
  //
  //  .sidebar.icon {
  //    font-size: 2.9em;
  //    height: 0.5em;
  //    color: #ccc;
  //    line-height: 1.2em;
  //  }
  //}

  .item {
    padding: 10px;
    &.active {
      background: #ccc;
    }
    a {
      color: #333;

      img {
        height: 20px;
        width: 20px;
        float: left;
        margin-right: 5px;
      }
    }
  }

}

#feed-stream {
  transition: all ease 0.5s;
  margin-left: 180px;
  &.wider {
    margin-left: 60px;
  }
  .contain {
    background: none;
    box-shadow: none;
    border: none;

    .icon {
      float: right;
    }
  }

  .right {
    .column {
      display: flex;
    }
  }

  .article, .article.ui.fluid.card {
    background: #fff;
    padding: 25px;
    margin: 10px 0;
    border-bottom: 6px solid #ccc;
    border-radius: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.featured-article {
  .label.ui.ribbon {
    left: -3.3em;
  }
}

#load-more {
  margin: 15px auto;
  display: block;
}

.ui.menu {
  position: fixed;
  height: 100%;
}
