#header.small {
  height: 60px;
  padding: 5px;

  .logo {
    width: 135px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 0;

    img {
      width: 100%;
    }
  }
}

.page {
  .banner {
    height: 175px;
    background: url("https://s3-us-west-2.amazonaws.com/news-io/img/banner.jpg");
    background-size: cover;

    h1 {
      color: #fff;
      text-align: center;
      padding-top: 100px;
    }
  }
  logincomponent, registercomponent {
    display: block;
    max-width: 500px;
    margin: 20px auto;
  }
}