#header {
  background: $green;
  width: 100%;
  padding: 10px;
  .logo {
    margin-bottom: 50px;
    margin-top: 200px;
    img {
      width: 100%;
    }
  }
}
#welcome-page {
  .inner-contain {
    max-width: 500px;
    margin: auto;
  }
  #welcome-container {
    margin-top: 20px;
    @include mediaWidth(550px) {
      width: 100%;
    }
    button {
      font-size: 1.3em;
      margin-top: 10px;
    }
    .column {
      cursor: pointer;
    }
  }
}
