//@import "semantic/scss/semantic.min";

body {
  background: #ddd;
}
.modal {
  .padding {
    padding: 20px;
    background: #eee;
  }
}

@import "variables";
@import "feedsPage";
@import "welcomePage";
