//@import "semantic/scss/semantic.min";

@import "mixins";
@import "variables";
@import "feedsPage";
@import "welcomePage";
@import "pages";
@import "mePage";

//components
@import "manageFeedsComponent";
@import "newFeedComponent";
@import "readArticleComponent";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  > .ui.segment {
    background: $softGray;
  }
  background: $softGray;
}
.ui.modal {
  > .content {
    background: #eee;
  }

  .padding {
    padding: 20px;
  }

  .register {
    text-align: center;
    padding-bottom: 15px;
  }
  button.close {
    &:hover, &:active {
      background: $redMuted;
    }
    margin-top: 20px;
    background: $redMuted;
  }
}
.pointer {
  cursor: pointer;
}
.mobile-hide {
  @include mediaWidth(723px) {
    display: none !important;
  }
}
.mobile-show {
  display: none !important;
  @include mediaWidth(723px) {
    display: block !important;
  }
}
